@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
/*      G E R A I S         */
.hide{
    display: none !important;
}
body{
    width: 100%;
    height: calc(100vh - 50px);
    background-image: radial-gradient(circle farthest-side at 50% 0%, #1E3756 10%, #131637 100%);
    font-family: 'Barlow Semi Condensed'
}
/*                   H E A D E R               */
.container-header {
    padding: 20px 40px 15px 40px;
    width: 40%;
    border-radius: 20px;
    border: 4px solid #5D6E88;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.img-nomes img {
   width: 120%;
}
.container-score{
    background-color: #F6F6F6;
    border-radius: 10px;
}
.container-score h2 {
    padding: 20px 50px 5px 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #233AAA;
    letter-spacing: 3px;
    font-weight: 700;
}
.container-score p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 700;
    color: #525065 ;
}
/*                   M A I N                   */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-buttons{
    margin-top: 100px;
    width: 400px;
    height: 375px;
    background-image: url(../images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.button{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #E6E6E6;
    transition: .2s;
    display: block;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.button:hover{
    scale: 1.02;
    cursor: pointer;
}
.button[disabled]:hover{
    scale: 1.00;
    cursor: auto;
}
.button1{
    top: -70px;
    left: 120px;
    border: solid 20px #EBA418;
    background-image: url(../images/icon-scissors.svg);
}
.button2{
    top: -70px;
    left: 320px;
    border: solid 20px #4A6BF2;
    background-image: url(../images/icon-paper.svg);
}
.button3{
    top: -220px;
    left: -80px;
    border: solid 20px #4DBAD1;
    background-image: url(../images/icon-spock.svg);
}
.button4{
    top: -150px;
    left: 20px;
    border: solid 20px #8C58E8;
    background-image: url(../images/icon-lizard.svg);
}
.button5{
    top: -300px;
    left: 240px;
    border: solid 20px #DC3A59;
    background-image: url(../images/icon-rock.svg);
}
/*           F O O T E R          */
footer{
    display: flex;
    justify-content: right;
    align-items: right;
}
.rules{
    margin: 5% 3% 0 0;
    padding: 12px 35px; 
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #EDEFFB;
    font-weight: 700;
    color: #EDEFFB;
    border-radius: 12px;
    letter-spacing: 4px;
    transition: .3s;
    background-color: transparent;
}
.rules:hover{
    cursor: pointer;
    scale: 1.03;
    border: 1px solid #131637;
    color: #131637;
    background-color: #EDEFFB ;
}
.rules[disabled]:hover {
    cursor: auto;
    scale: 1;
    border: 1px solid #EDEFFB;
    color: #EDEFFB;
    background-color: transparent ;
 }
 /*      P A G E    R U L E S       */
.page-rules{
    top: 18%;
    width: 20%;
    height: 50%;
    position: absolute;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgba(25,20,20,0.75);
}
.cabecalho-rules{
    display: flex;
    justify-content: space-between;
}
.page-rules h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    color: #323851;
}
.page-rules button{
    text-transform: lowercase;
    font-size: 40px;
    border: none;
    background-color: white;
    color: #C8C8CD;
}
.page-rules button:hover{
    cursor: pointer;

    color: red;
}
.page-rules img{
    margin-top: 40px;
    width: 100%;
}

